<div class="row">
  <div class="col-xs-12">
    <img [src]="getRecipesFromRecipe.imagePath" alt={{getRecipesFromRecipe.name}} class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{getRecipesFromRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">To Shopping List</a></li>
        <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
        <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>


